<!-- <label for="email">email</label>
<input type="text" name="email" id="email" class="fancy_form" >

<label for="username">username</label>
<input type="text" name="username" id="username" class="fancy_form" >

<label for="pin">pin</label>
<input type="text" name="pin" id="pin" class="fancy_form"

<label for="website">website</label>
<input type="text" name="website" id="website" class="fancy_form" >

<label for="address">address</label>
<input type="text" name="address" id="address" class="fancy_form" >

<label for="alias">alias</label> -->
<input type="text" name="alias" id="alias" class="fancy_form" >

<%= form_for @login , html: {class: "fancy_form"} do |f| %>
  <%= f.label :email, 'email'%>
  <%= f.text_field :email%>

  <%= f.label :username, 'username'%>
  <%= f.text_field :username %>

  <%= f.label :pin, 'pin'%>
  <%= f.text_field :pin %>

  <%= f.label :website, 'website'%>
  <%= f.text_field :website %>

  <%= f.label :address, 'address'%>
  <%= f.text_field :address %>
  
  <%= f.label :alias, 'alias'%>
  <%= f.text_field :alias%>
<% end %>
